<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Runtime_Safe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B07C378F1D937EBA00DAE562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B07C37A81D937EBA00DAE562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B07C37B31D937EBA00DAE562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
